@model dynamic
@{
    string strTitle = "Панель администратора";
    ViewBag.Title = strTitle;
    IQueryable<NewsItem> newsItems = ViewData["NewsItems"] as IQueryable<NewsItem>;
    IQueryable<ServiceItem> serviceItems = ViewData["ServiceItems"] as IQueryable<ServiceItem>;
}

<div>
    <h2>@strTitle</h2>
    <div>
        <h3>Наши услуги</h3>
        <div class="div-box">
            <a asp-area="Admin" asp-controller="ServiceItems" asp-action="Edit" asp-route-id="">Добавить услугу</a>
        </div>
        <div>
            @foreach (ServiceItem entity in serviceItems)
            {
                <div>
                    <a asp-area="Admin" asp-controller="ServiceItems" asp-action="Edit" asp-route-id="@entity.Id">редактировать</a>
                    |
                    <form style="display: inline-block;" id="form-@entity.Id" asp-area="Admin" asp-controller="ServiceItems" asp-action="Delete" method="post">
                        <input type="hidden" name="id" value="@entity.Id">
                        <a href="#" onclick="document.getElementById('form-@entity.Id').submit();">удалить</a>
                    </form>
                    |
                    <a asp-area="" asp-controller="Services" asp-action="Index" asp-route-id="@entity.Id">
                        @($"{entity.Title}")
                    </a>
                </div>
            }
        </div>
    </div>
    <div>
        <h3>Наши новости</h3>
        <div>
            @foreach (NewsItem entity in newsItems)
            {
            <div>
                |
                <form style="display: inline-block;" id="form-@entity.Id" >
                <input type="hidden" name="id" value="@entity.Id">
                <a  asp-area="Admin" asp-controller="NewsItems" asp-action="Delete" onclick="document.getElementById('form-@entity.Id').submit();">удалить</a>
                <a asp-area="Admin" asp-controller="NewsItems" asp-action="Approve" onclick="document.getElementById('form-@entity.Id').submit();">одобрено</a>
                <a asp-area="Admin" asp-controller="NewsItems" asp-action="Disapprove" onclick="document.getElementById('form-@entity.Id').submit();">не одобрено</a>
                </form>
                <a asp-area="" asp-controller="News" asp-action="Index" asp-route-id="@entity.Id">
                    @($"{entity.Title}")
                </a>
            </div>
            }
        </div>
        <div class="div-box">
            <h3>Редактировать страницы сайта</h3>
            <a asp-area="Admin" asp-controller="TextFields" asp-action="Edit" asp-route-codeWord="PageIndex">Главная</a>
            <a asp-area="Admin" asp-controller="TextFields" asp-action="Edit" asp-route-codeWord="PageServices">Наши услуги</a>
            <a asp-area="Admin" asp-controller="TextFields" asp-action="Edit" asp-route-codeWord="PageNews">Наши новости</a>
            <a asp-area="Admin" asp-controller="TextFields" asp-action="Edit" asp-route-codeWord="PageContacts">Контакты</a>
        </div>
        <div class="div-box">
            <form asp-area="" asp-controller="Account" asp-action="Logout" method="post">
                <input type="submit" value="Выйти" />
            </form>
        </div>
    </div>
</div>

